.container {
	display: grid;
	grid-template-columns: repeat(3, 100px);
	grid-template-rows: repeat(3, 100px);
	justify-content: center;
	gap: 10px;
}

.grid-item {
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
}

.form1 {
	text-align: center;
	margin-top: 20px;
}
